@font-face {
    font-family : shoukesong;
    src : url("font/shoukesong.ttf");
}

@font-face {
    font-family : chuangzhonghei;
    src : url("font/chuangzhonghei.ttf");
}

@font-face {
    font-family: 'iconfont';  /* project id 1272591 */
    src: url('//at.alicdn.com/t/font_1272591_ee8pnfivf5t.eot');
    src: url('//at.alicdn.com/t/font_1272591_ee8pnfivf5t.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1272591_ee8pnfivf5t.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1272591_ee8pnfivf5t.woff') format('woff'),
    url('//at.alicdn.com/t/font_1272591_ee8pnfivf5t.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1272591_ee8pnfivf5t.svg#iconfont') format('svg');
  }
/* Code Style */

pre {
    border: 1px dashed #ddd;
    background-color: #f9f2f4;
    padding-left:20px;
    border-style:solid;
    border-left-width : 15px;
    border-left-color : #8b0000;
    border-radius : 5px;
}

code{
    padding: 2px 4px;
    font-family: Consolas, Monaco, Menlo, Consolas, monospace;
    font-size: 100%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* Overall Style */
body{
    font-size : 1rem;
    line-height : 2;
    margin : 0;
    background: #faf7f7;
}

.container{
    max-width : 1000px;
    width : 80%;
    box-sizing : border-box;
    padding : 2em 5%;
    background : #ffffff;
    margin : 3em auto;
    overflow : hidden;
    border-radius: 5px;
    box-shadow:3px 3px 5px #bbb, 1px -1px 0.5px #eee;
}

.container .main{
    width : 70%;
    float : left;
}

/* Header Style */
.header{
    text-align : center;
}

.header h1,
.header h2{
    margin : 0;
    line-height : 1.2;
}

.header .title a{
    color : #a7535a;
    text-decoration : none;
    font : 700 3rem shoukesong;
    transition : 0.3s;
}

.header .title a:hover{
    color: #541e24;
}

.header .description{
    margin : 0.5em 0 0.25em;
    font : 700 2rem shoukesong;
    color : #541e24;
}

.header .links{
    height : 60px;
    margin : 2.25em auto 4.5em;
    border-top : 2px dashed #ddd;
    border-bottom : 2px dashed #ddd;
    font : 700 1.3rem chuangzhonghei;
    text-transform : uppercase;
    letter-spacing : 1.5px;
}

.header .links ul{
    text-decoration : none;
    padding : 0;
}

.header .links ul li{
    display : inline-block;
}

.header .links ul li:first-child::after{
    content : "\00B7";
    margin : 0 0.75em;
}

.header .links ul li a{
    color : #777;
    text-decoration : none;
    transition : 0.3s;
}

.header .links ul li a:hover{
    color : #a7535a;
}

/* Post Style */
.post{
    position : relative;
    border-bottom : 3px dashed #ddd;
    margin : 0 0 5em;
    padding : 0 0 3em;
}

.post::after{
    content : '';
    display : block;
    background : url(img/maple.png) no-repeat top/130px 40px;
    width : 130px;
    height : 40px;
    position : absolute;
    left : 50%;
    top : 100%;
    transform : translate(-50%, -20px);
}

.post .post-cat{
    margin : 0 0 3px;
    color : #a7535a;
    text-align : center;
    font : 700 20px chuangzhonghei;
    transition : 0.3s;
    text-transform : uppercase;
    letter-spacing : 6px;
}

.post .post-title{
    margin : 0 0 3px;
    padding : 10px;
    color : #541e24;
    text-align : center;
    font : 700 40px shoukesong;
    transition : 0.3s;
    text-transform : uppercase;
    letter-spacing : 1px;
}

.post .post-title::after{
    content: "";
    display : block;
    margin : 0.5em auto;
    width : 20;
    height : 1px;
    background-color : #f9f2f4;
}

.post .post-date{
    padding : 0;
    list-style : none;
    color : #bbb;
    font : 20px/2.0 chuangzhonghei;
    text-align : center;
}

.post .post-date li{
    display : inline-block;
}

.post .post-content{
    position : relative;
    color : #666;
    font-size : 1rem;
    margin-bottom : 1.5em;
}

.post .post-content img{
    max-width : 80%;
    border-radius : 5px;
}

.post .post-content a{
    color : #a7535a;
}

.post .post-content a:hover{
    color : #541e24;
}

.aside{
    overflow : hidden;
    width : 25%;
    float : right;
}

.aside-section{
    margin : 0 0 3em;
}

.aside h1{
    font : 1.5em/1.5 shoukesong;
    margin : 0.5em 0;
    color : #a7535a;
    text-align : center;
    padding-left : 1em;
}

.aside .avatar{
    padding : 10px;
}

.aside .avatar img{
    width : 80%;
    height : auto;
    display : inline-block;
    border-radius : 100%;
    box-shadow : 0 0 0 0.40em #eee;
    margin-left : 2em;
    margin-top : 1em;
    transition : all ease 0.3s;
}

.aside .avatar img:hover{
    position : relative;
    transform : translateY(-1em);
}

.aside .author-intro {
    padding-top : 0;
    margin-top : 0;
    padding-left : 2em;
    font : 1.2em/1.5 chuangzhonghei;
}

.iconfont{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
    content: &#xe69a;
}

.icon-github:before {
    content: &#xe718;
}

.icon-weibo:before{
    content : &#xe635;
}