@font-face {
    font-family : shoukesong;
    src : url("font/shoukesong.ttf");
}

@font-face {
    font-family : chuangzhonghei;
    src : url("font/chuangzhonghei.ttf");
}

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('font/iconfont.woff2') format('woff2'),
        url('font/iconfont.woff') format('woff'),
        url('font/iconfont.ttf') format('truetype'),
        url('font/iconfont.svg#iconfont') format('svg');
  }
/* Code Style */

pre {
    border: 1px dashed #ddd;
    background-color: #f9f2f4;
    padding-left:12px;
    margin-left : 1rem 0;
    border-style:solid;
    border-left-width : 12px;
    border-left-color : #8b0000;
    border-radius : 5px;
}

code{
    padding: 2px 4px;
    font-family: Consolas, Monaco, Menlo, Consolas, monospace;
    font-size: 100%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* Overall Style */
body{
    font-size : 1rem;
    line-height : 2;
    margin : 0;
    background: #faf7f7;
}

.container{
    max-width : 1000px;
    width : 80%;
    box-sizing : border-box;
    padding : 2em 5%;
    background : #ffffff;
    margin : 3em auto;
    overflow : hidden;
    border-radius: 5px;
    box-shadow:3px 3px 5px #bbb, 1px -1px 0.5px #eee;
}

.container .main{
    width : 70%;
    float : left;
}

@media screen and (max-width: 1015px){
    .container .main {
      width: 100%;
    }
}

@media screen and (max-width: 640px){
    .container {
      margin: 3em 0 0;
      width: 100%;
      padding: 1.75em;
    }
}

.aside{
    overflow : hidden;
    width : 25%;
    float : right;
}

@media screen and (max-width: 1015px) {
    .aside {
      width : 100%;
      float : middle;
    }
}
/* Header Style */
.header{
    text-align : center;
}

.header h1,
.header h2{
    margin : 0;
    line-height : 1.2;
}

.header .title a{
    color : #a7535a;
    text-decoration : none;
    font : 700 3rem shoukesong;
    transition : 0.3s;
}

.header .title a:hover{
    color: #541e24;
}

.header .description{
    margin : 0.5em 0 0.25em;
    font : 700 2rem shoukesong;
    color : #541e24;
}

.header .links{
    height : 60px;
    margin : 2.25em auto 4.5em;
    border-top : 2px dashed #ddd;
    border-bottom : 2px dashed #ddd;
    font : 700 1.3rem chuangzhonghei;
    text-transform : uppercase;
    letter-spacing : 1.5px;
}

.header .links ul{
    text-decoration : none;
    padding : 0;
}

.header .links ul li{
    display : inline-block;
}

.header .links ul li:first-child::after{
    content : "\00B7";
    margin : 0 0.75em;
}

.header .links ul li a{
    color : #777;
    text-decoration : none;
    transition : 0.3s;
}

.header .links ul li a:hover{
    color : #a7535a;
}

/* Post Style */
.post{
    position : relative;
    border-bottom : 3px dashed #ddd;
    margin : 0 0 5em;
    padding : 0 0 3em;
}

.post::after{
    content : '';
    display : block;
    background : url(img/maple.png) no-repeat top/130px 40px;
    width : 130px;
    height : 40px;
    position : absolute;
    left : 50%;
    top : 100%;
    transform : translate(-50%, -20px);
}

.post .post-cat{
    margin : 0 0 3px;
    color : #a7535a;
    text-align : center;
    font : 700 20px chuangzhonghei;
    transition : 0.3s;
    text-transform : uppercase;
    letter-spacing : 6px;
}

.post .post-title{
    margin : 0 0 3px;
    padding : 10px;
    color : #300;
    text-align : center;
    font : 700 40px shoukesong;
    transition : 0.3s;
    text-decoration : none;
    text-transform : uppercase;
    letter-spacing : 1px;
}

.post .post-title a{
    color : #541e24;
    text-decoration: none;
}

.post .post-title a:hover{
    color : #300;
    text-decoration: none;
}
.post .post-title::after{
    content: "";
    display : block;
    margin : 0.5em auto;
    width : 20;
    height : 1px;
    background-color : #f9f2f4;
}

.post .post-date{
    padding : 0;
    list-style : none;
    color : #bbb;
    font : 20px/2.0 chuangzhonghei;
    text-align : center;
}

.post .post-date li{
    display : inline-block;
}

.post .post-content{
    position : relative;
    color : #666;
    font-size : 1rem;
    margin-bottom : 1.5em;
}

.post .post-content img{
    max-width : 80%;
    height : auto;
    text-align : center;
    border-radius : 5px;
}

.post .post-content a{
    color : #a7535a;
}

.post .post-content a:hover{
    color : #541e24;
}

.post .post-content blockquote{
    margin: 1rem 0px;
    border-left: 4px solid rgb(223, 226, 229); 
    padding: 0px 15px; 
    color: rgb(119, 119, 119);
    background-color : rgb(250,242,238);
    padding-right: 0px;
}
.aside h1{
    font : 1.5em/1.5 shoukesong;
    margin : 0.5em 0;
    color : #a7535a;
    text-align : center;
    padding-left : 1em;
}

.aside .avatar{
    padding : 10px;
    text-align : center;
    margin-left : 1.5em;
}

.aside .avatar img{
    width : 100%;
    height : auto;
    display : inline-block;
    border-radius : 100%;
    box-shadow : 0 0 0 0.40em #eee;
    margin-top : 1em;
    transition : all ease 0.3s;
}

.aside .avatar img:hover{
    position : relative;
    transform : translateY(-1em);
}

.aside .author-intro {
    padding-top : 0;
    margin-top : 0;
    font : 1.2em/1.5 chuangzhonghei;
    margin-left : 2em;
}

.aside .aside-social{
    text-align : center;
}

.aside .aside-social .links{
    margin-left : 1.5em;
}
.iconfont{
    display : inline;
    font-family: "iconfont";
    font-size: 2.5em;
    text-align : center;
    padding : 0;
    margin : 0;
    font-style: normal;
    letter-spacing : 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color : #888;
    text-decoration : none;
    transition : font-size 0.3s;
}

.iconfont:hover{
    color : #a7535a;
    font-size : 3em;
}